* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", "FontAwesome 6 Free";
    font-size: 15px;
}

window#waybar {
    background-color: rgba(101, 101, 101, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#clock,
#pulseaudio,
#tray,
#mode,
#workspaces,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(101, 101, 101, 0.3);
    border-radius: 10px;
}

#pulseaudio {
    background-color: rgba(101, 101, 101, 0.3);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
	background-color: rgba(101, 101, 101, 0.3);
	color: #000000;
	border-radius: 10px;
}

#tray:hover {
	background-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.2s ease;
}

#workspaces button {
    font-family: "JetBrains Mono NerdFont";
    font-weight: bold;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 0;
    padding-left: 5px;
    padding-right: 2px;
}

#workspaces .workspace-label {
    padding-left: 3px;
    border-top: 1px solid transparent;
}

#workspaces .taskbar-window {
    border-top: 1px solid transparent;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.visible .taskbar-window {
    border-color: rgba(101, 101, 101, 0.6);
}

#workspaces .taskbar-window.active {
    background-color: rgba(255, 255, 255, 0.15);
}

#workspaces .taskbar-window image {
    margin-top: 1px;
}

#workspaces button.urgent {
    background-color: @urgent-color;
}

#custom-swaync {
	background-color: rgba(101, 101, 101, 0.3);
	font-size: 20px;
	padding: 0 12px;
	border-radius: 10px;
	margin-right: 5px;
}

#custom-swaync:hover {
	background-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.2s ease;
}
